html, body { height: 100%;}

body > footer {
  position: sticky;
  top: 100vh;
}

body{
    background-color: #FAFAFA;
}

main{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

nav{
    margin: 0;
}

nav li{
    margin-bottom: 0;
}


.social-links img {
    margin-right: 2rem;
    margin-bottom: 0;
    margin-top: 5rem;
}

.social-links{
    padding-bottom: 3rem;
}

.textt{
    width: 3rem;
}

#appointment{
    gap: 2rem;

}

fieldset{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2rem;
    margin-top: 0;
    border: 1px solid #3c3c3c;
    border-radius: .5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

legend{
    color: #3c3c3c;
    font-size: 1.4rem;
}

#appointment input{
    margin: 0;
}

#appointment p{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#gender{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#gender input{
    width: 2rem;
    height: 2rem;
}

#contTime{
    flex-wrap: wrap;
    max-width: 21rem;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#contTime input{
    width: 2rem;
    height: 2rem;
}

label:active{
    border-radius: 0;
}

#contTime label{
    width: 4rem;
}

.formbtn:hover{
    width: 27rem;
    height: 6rem;
}

.formbtn{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FF7B47;
    border-radius: 2rem;
    background-color: #FF7B47;
    width: 25rem;
    color: #FAFAFA;
    height: 5.6rem;
    box-shadow: 1.2rem 1.2rem .2rem .1rem rgba(0, 0, 255, .2);
    font-size: 2rem;
    transition: all .5s ease-out;
}

button[type="submit"] img,  button[type="reset"] img{
    vertical-align: middle;
    padding-left: 1rem;
}

#GetTouch a{
    text-decoration: underline;
}

#appointment input:focus{
    background-color: rgb(224, 226, 228);
    transition: all .5s ease-out;

    outline: none !important;
    border: 1px solid #FF7B47;
    box-shadow: 0 0 1rem #719ECE;
}

::selection{
    background: rgb(194, 157, 7);
    color: rgb(255, 255, 177);
}

@media screen and (min-width: 650px)
{
    header{
        height: 7rem;
    }

    main-subtitle{
        margin: 0;
        padding: 4rem;
    }

    #Gen{
        width: 35rem;
    }   
 
    #appointment{
        width: 61rem;
        margin-left: auto;
        margin-right: auto;
    }

    fieldset{
        width: 61rem;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    #footeeHlinks {
        flex-direction: row;
        justify-content: space-between;
        height: 10rem;
    }
}