:root{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 2rem;
    --primary-color: #FF7B47;
    --primary-bg-color: #FAFAFA;
    --primary-bgfooter-color: #252B42;
    --primary-fttext-color: #fff;
    --primary-text-color: #737373;
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
    border-style: none;
}

body{
    margin: 0;
    padding: 0;
}

header{
    padding: 2.5rem;
    background-color: #F7F7F7;
}

h1{
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
    margin-top: 0;
    font-weight: 800;
    line-height: 8rem;
    text-align: center;
    font-size: 5.8rem;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.02rem;
    color: #252B42;
}

#main-subtitle{
    margin-left: auto;
    margin-right: auto;
    max-width: 54rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
}

.wrapper{
    margin-left: auto;
    margin-right: auto;
    max-width: 117rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.navbar{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
    gap: .2rem;
    max-width: 117rem;
    margin-bottom: 8rem;
}

.navbar .nav{
    align-self: flex-end;
}

section{
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

.subtitle
{
    text-align: center;
    line-height: 2rem;
}

#prebuttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 5rem;
}

h2{
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    line-height: 5.7rem;
    margin: 0;
}

.Industry{
    padding-top: 7.5rem;
    background-color: #FAFAFA;
    text-align: center;
}

.Industry article{
    border: .1rem solid #E8E8E8;
    margin: 1.5rem;
    display: inline-block;
    width: 33rem;
    height: 20rem;
    padding: 3.5rem 4rem 3.5rem 4rem;  
}

article h3{
    display: inline-block;
    margin-left: 1.5rem;
}

.article-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

h3{
    display: inline;
    font-weight:  700;
}

#logo{
    font-weight: 700;
    line-height:  3.2rem;
    font-size: 2.4rem;
    margin-right: auto;
    text-align: left;
    color:rgba(0, 0, 0);
}

.sub-header{
    font-weight: 700;
}

.person{
    display: flex;
    gap: 1.5rem;
}

.name{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: .02rem;
}

.post{
    color: #252B42;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: .02rem;
}

.nav{
    background-color: transparent;
    border: none;
    height: 3.6rem;
}

nav{
    font-weight: 400;
    line-height: 4.5rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
}

nav a{
    color: var(--primary-text-color);
}

nav li{
    margin: 3rem 0 3rem 0;
}

li{
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

#get_quot{
    background-color: var(--primary-color);
    border-radius: 3.7rem;
    height: 4.8rem;
    width: 18.7rem;
    color: #fff;
}

#learn_more{
    border: .1rem solid #0D5C63;
    height: 4.8rem;
    border-radius: 3.7rem;
    width: 15.7rem;
    color: #0D5C63;
    background-color:rgb(255, 255, 255, 0);
}

.pre-MakeApp{
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #252B42;
}

#contactus{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#contactus h3{
    padding: 0;
    margin: 0;
}

.bookapp{
    background-color: var(--primary-color);
    color: var(--primary-fttext-color);
    border-radius: .5rem;
    height: 4.8rem;
    width: 30rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: .02rem;
}

.button{
    display: block;
    background-color: var(--primary-color);
    border-radius: .5rem;
    height: 4.8rem;
    width: 30rem;
    margin-right: 3.8rem;
    align-self: center;
    text-align: center;
    color: var(--primary-fttext-color);
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: .02rem;
}

.button a{
    color: var(--primary-fttext-color);
}

#footer-sub{
    display: inline-block;
    background-color: #E6E6E6;
    border: .1rem solid #E6E6E6;
    border-radius: .5rem;
    overflow: hidden;
}

#footer-sub input{
    height: 5.8rem;
    margin-right: 0;
}

#footer-sub p{
    display: inline-block;
    margin-left: 0;
}

#subscribe{
    border-radius: 0;
    background-color: var(--primary-color);
    color: var(--primary-fttext-color);
    width: 12rem;
}

video{
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.video{
    display: flex;
    justify-content: center;
}

.reviews{
    background-color: #F3F3F3;
}

.review-list{
    text-align: center;
}

.review-list li{
    display: inline-block;
    border: .1rem solid #DEDEDE;
    border-radius: .5rem;
    margin-top: 1.5rem;
    padding: 3rem 3.5rem;
    width: 33rem;
    height: 24.4rem;
    margin: 1.5rem;
    background-color: var(--primary-bg-color);
}

blockquote{
    font-weight: 600;
    color: var(--primary-text-color);
    margin: 2rem 0 2rem 0;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

p{
    color: var(--primary-text-color);
    margin: 0;
    font-size: 1.4rem;
}

.First-Class{
    background-color: var(--primary-bg-color);

}

.First-Class2{
    display: none;
}

.video-container{
    background-image: linear-gradient(to bottom, #F3F3F3 50%, black 0%);
    padding-top: 8rem;
}

.contact{
    background-color:  var(--primary-bg-color);
}

.contact h2{
    text-align: left;
}

.contact h3{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: .01rem;
    margin-bottom: 0;
}

#appointment{
    text-align: center;
}

#appointment input, #appointment textarea{
    width: 28.4rem;
    margin: 2rem;
    border-radius: .5rem;
    border: 1px solid var(--primary-text-color);
}

#appointment input{
    height: 5rem;
}

footer{
    background-color: var(--primary-bgfooter-color);
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-bottom: 7rem;
}

footer p, footer a{
    line-height: 2.4rem;
    color: var(--primary-fttext-color);
}

footer input{
    background-color: #F9F9F9;
    color: var(--primary-fttext-color)
}

.social-links img{
    margin-right: 2rem;
    margin-bottom: 11rem;
    margin-top: 5rem;
}

#footerhead{
    display: inline-block;
    margin-top: 4rem;
    line-height: 3.2rem;
    font-weight: 700;
    font-size: 2.4rem;
}

.footer-info{
    display: inline-block;
    width: 15rem;
    margin: 1.5rem;

    /* display: flex;
    flex-direction: row; */
}

#GetTouch{
    width: 32rem;
}

#postSubTxt{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.8rem;
}

@media screen and (min-width: 700px){
    #prebuttons{
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        padding-bottom: 8rem;
    }

    header{
        background-image: url(/img/Head-bg.jpg);
        background-repeat:round;
    }

    nav{
        display: none;
    }

    .First-Class2{
        display: none;
    }

    .First-Class{
        display: block;
        background-color: rgb(255, 255, 255, 0);
    }
}