body {
  background-color: rgba(50, 64, 127, 0.456);
  background-size: 100%;
  margin: 0;
}

header {
  background-color: #f2f0ff;
  display: flex;
  color: #000;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  background-color: rgba(44, 56, 97, 0.474);
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}

footer {
  background-color: #333;
  bottom: 0;
  color: white;
  /*temp*/
  height: 100px;
  position: fixed;
  width: 100%;
}

a {
  color: white;
  padding: 3px 8px;
  text-decoration: none;
}

nav a {
  background: #333;
  border-radius: 5px;
  display: inline-block;
}

#nav {
  height: 100%;
  width: auto;
}

#logo {
  height: 100%;
  left: 0;
  width: auto;
}
